torch
keras
tensorflow
spacy
transformers[torch]
gensim
nltk
pandas
matplotlib
numpy
pyarrow
scikit-learn
gpustat
seaborn
keras-tuner
causal-conv1d>=1.1.0
mamba-ssm
datasets
accelerate>=0.21.0
sentencepiece
evaluate
accelerate